* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.work__content {
    width: calc( 1170px + 15px *2);
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 126px;

    .text {
        font-family: 'Kaushan Script';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 44px;
        color: #2D3033;
        text-align: center;
    }

    .subtitle {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 900;
        font-size: 36px;
        line-height: 42px;
        color: #2D3033;
        text-align: center;
        text-transform: uppercase;
        padding: 40px 0 40px;
    }
    .line {
        width: 170px;
        border: 4px solid #F38281;
        margin: 0 auto;
    }

    .about__descritpion {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        padding: 50px 0 50px;
        text-align: center;
    }

    .work__pic {
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        grid-template-rows: repeat(2, 1fr);
        grid-auto-rows: minmax(377px, auto);
        width: 100%;
        
    }

    

     
}

